<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Dessmo - Deserción Universitaria</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="../../../../assets/images/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="col-xl-12 col-lg-12">
            <div class="mt-5">
                <div class="authincation h-100"> 
                    <div class="container h-100">
                        <div class="row justify-content-center h-100 align-items-center">
                            <div class="col-md-6 mt-5">
                                <div class="authincation-content mt-5">
                                    <div class="row no-gutters">
                                        <div class="auth-form">
                                            <div class="text-center mb-3">
                                                <a href="index.html"><img src="../../../../assets/images/Dessmo-Monocromatico.png" style="width: 38%;" alt=""></a>
                                            </div>
                                            <h4 class="text-center mb-4 text-white">Ingresa tus credenciales para iniciar sesión como Administrador</h4>

                                            <form [formGroup]="adminSigninForm" (ngSubmit)="SigninUsuario()">
                                                <div class="form-group">
                                                    <label class="mb-1 text-white"><strong>Email o Username</strong></label>
                                                    <input (input)="AlertDefault()" type="email" class="form-control" name="usernameUsuario" formControlName="usernameUsuario"
                                                    [ngClass]="{
                                                        'is-invalid': adminSigninForm.controls['usernameUsuario'].invalid && 
                                                                     (adminSigninForm.controls['usernameUsuario'].dirty || 
                                                                     adminSigninForm.controls['usernameUsuario'].touched) , 
                                                          'is-valid': adminSigninForm.controls['usernameUsuario'].valid}">
                                                    <div id="emailUsuario" class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="adminSigninForm.controls['usernameUsuario'].hasError('required')">
                                                            No puede dejar este campo vacío
                                                        </span>
                                                    </div>                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label class="mb-1 text-white"><strong>Contraseña</strong></label>
                                                    <input (input)="AlertDefault()" type="password" class="form-control" name="passwordUsuario" formControlName="passwordUsuario"
                                                    [ngClass]="{
                                                        'is-invalid': adminSigninForm.controls['passwordUsuario'].invalid && 
                                                                     (adminSigninForm.controls['passwordUsuario'].dirty || 
                                                                     adminSigninForm.controls['passwordUsuario'].touched) , 
                                                          'is-valid': adminSigninForm.controls['passwordUsuario'].valid}">
                                                    <div id="emailUsuario" class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="adminSigninForm.controls['passwordUsuario'].hasError('required')">
                                                            No puede dejar este campo vacío
                                                        </span>
                                                    </div>   
                                                </div>
                                                <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                                   
                                                    <div class="form-group">
                                                        <a class="text-white" href="page-forgot-password.html">¿Contraseña Olvidada?</a>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" [disabled]="!adminSigninForm.valid"  class="btn bg-white text-primary btn-block">Iniciar Sesión</button>
                                                </div>
                                                <div class="text-center mt-4" *ngIf="this.verificar">
                                                    <div class="alert alert-danger text-center" role="alert">
                                                        {{ this.message }}
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="new-account mt-3">
                                                <p class="text-white">¿No tienes una cuenta? <a class="text-white" href="./page-register.html">Regístrate</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
        
        


        
    </body>

</html>