<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Autorizar Administradores</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Administrador</a></li>
        </ol>
    </div>

    <div class="col-xl-9 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Autorizar Administradores</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form [formGroup]="invitacionAdminSigninForm" (ngSubmit)="invitarAdmin()">
                        <div class="form-group row">
                            <label style="font-weight: bold;" class="col-sm-3 col-form-label">Ingrese un Correo Electrónico</label>
                            <div class="col-sm-9">
                                <label class="sr-only">Correo</label>
                                <input (input)="AlertDefault()" type="email" class="form-control" name="emailUsuario" formControlName="emailUsuario" placeholder="Email"
                                [ngClass]="{
                                    'is-invalid': invitacionAdminSigninForm.controls['emailUsuario'].invalid && 
                                                (invitacionAdminSigninForm.controls['emailUsuario'].dirty || 
                                                invitacionAdminSigninForm.controls['emailUsuario'].touched) , 
                                    'is-valid': invitacionAdminSigninForm.controls['emailUsuario'].valid}">
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="invitacionAdminSigninForm.controls['emailUsuario'].hasError('required')">
                                            No puede dejar este campo vacío
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="invitacionAdminSigninForm.controls['emailUsuario'].hasError('email')">
                                            Correo electrónico no válido
                                        </span>
                                    </div>
                            </div>
                        </div>
                        <div style="margin-left: 35%; margin-top: 5%;">
                            <button (click)="AlertDefault()" [disabled]="!invitacionAdminSigninForm.valid" type="submit" class="btn btn-primary">Enviar Solicitud <span
                                class="btn-icon-right"><i class="fa fa-envelope"></i></span>
                            </button> 
                        </div>

                        <div class="text-center mt-4" *ngIf="this.verificar">
                            <div class="alert alert-danger text-center" role="alert">
                                {{this.message}}
                            </div>
                        </div>
            
                        <div class="text-center mt-4" *ngIf="this.verificar2">
                            <div class="alert alert-success text-center" role="alert">
                                {{this.message}}
                            </div>
                        </div>
                         
                    </form>
                </div>
                <!-- <div class="basic-form">
                    <form class="form-inline" [formGroup]="invitacionAdminSigninForm" (ngSubmit)="invitarAdmin()">
                        <div class="form-group mb-2">
                            <label class="sr-only">Correo</label>
                            <input type="text" readonly class="form-control-plaintext" value="Ingrese un correo">
                        </div>
                        <div class="form-group mx-sm-5 mb-2" >
                            
                            <label class="sr-only">Correo</label>
                            <input type="email" class="form-control" name="emailUsuario" formControlName="emailUsuario"
                            [ngClass]="{
                                'is-invalid': invitacionAdminSigninForm.controls['emailUsuario'].invalid && 
                                            (invitacionAdminSigninForm.controls['emailUsuario'].dirty || 
                                            invitacionAdminSigninForm.controls['emailUsuario'].touched) , 
                                'is-valid': invitacionAdminSigninForm.controls['emailUsuario'].valid}">
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="invitacionAdminSigninForm.controls['emailUsuario'].hasError('required')">
                                        No puede dejar este campo vacío
                                    </span>
                                </div>
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="invitacionAdminSigninForm.controls['emailUsuario'].hasError('email')">
                                        Correo electrónico no válido
                                    </span>
                                </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar Solicitud <span
                            class="btn-icon-right"><i class="fa fa-envelope"></i></span>
                        </button>                      
                    </form>
                </div> -->
            </div>
        </div>
        
    </div>
</div>


