<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Planillas</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="../../../assets/images/favicon.png">    

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    </head>
    <body>
        <!-- Preloader start -->
        <div id="preloader">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
        <!-- Preloader end -->

        <!-- Main wrapper start -->
        <div id="main-wrapper">

            <!-- Nav header start -->
            <div class="nav-header">
                <a  href="/" style="cursor:pointer;" class="brand-logo">
                    <img class="logo-abbr" src="../../../../assets/images/Logo.png" alt="">
                    <img class="logo-compact" src="../../../assets/images/logo-text.png" alt="">
                    <img class="brand-title" src="../../../../assets/images/DessmoTexto.png" alt="">
                </a>

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div>
            </div>
            <!-- Nav header end -->
                    
            <!-- Header start -->
            <div class="header">
                <div class="header-content">
                    <nav class="navbar navbar-expand">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                                <div class="dashboard_bar">
                                    Gráficos
                                </div>
                            </div>
                            <ul class="navbar-nav header-right">		
                                
                                <li class="nav-item dropdown header-profile">
                                    <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown">
                                        <img src="{{this.fotoUsuario}}" width="20" alt=""/>
                                        <div class="header-info">
                                            <span class="text-black"><strong>{{this.nUser}}</strong></span>
                                            <p class="fs-12 mb-0">Administrador</p>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        
                                        
                                        <a (click)="this.Exit()" style="cursor: pointer;" class="dropdown-item ai-icon">
                                            <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                            <span class="ml-2">Cerrar Sesión </span>
                                        </a>
                                        <hr>
                                        <p style="font-weight: bolder;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resumen</p>
                                        <div class="card-body">
                                            <h6>Factor Económico
                                                <span class="pull-right">{{this.factorEconomico}}</span>
                                            </h6>
                                            <div class="progress ">
                                                <div class="progress-bar bg-danger progress-animated" [style.width]="factorEconomico" style="height:6px;" role="progressbar">
                                                </div>
                                            </div>
                                            <h6 class="mt-4">Factor Psicológico
                                                <span class="pull-right">{{this.factorPsicologico}}</span>
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info progress-animated" [style.width]="factorPsicologico" style="height:6px;" role="progressbar">
                                                </div>
                                            </div>
                                            <h6 class="mt-4">Factor Tecnológico
                                                <span class="pull-right">{{this.factorTecnologico}}</span>
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-success progress-animated" [style.width]="factorTecnologico" style="height:6px;" role="progressbar">
                                                </div>
                                            </div>
                                            <h6 class="mt-4">Responsabilidad Familiar
                                                <span class="pull-right">{{this.factorResponsabilidadFamiliar}}</span>
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-inverse progress-animated" [style.width]="factorResponsabilidadFamiliar" style="height:6px;" role="progressbar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Header end ti-comment-alt -->

            <!-- Sidebar start -->                
            <div class="deznav">
                <div class="deznav-scroll">
                    <ul class="metismenu" id="menu">
                        <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-upload"></i>
                                <span class="nav-text">Cargar Data</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a routerLink="/admin/data" >Data</a></li>                                
                            </ul>
                        </li>
                        <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-unlocked-2"></i>
                                <span class="nav-text">Permisos</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a routerLink="/admin/roles" >Otorgar Rol</a></li>                                
                            </ul>
                        </li>
                        <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Dashboard</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a routerLink="/admin/dashboard" >Dashboard</a></li>                              
                            </ul>
                        </li>                        
                    </ul>
                    <div class="copyright">
                        <p><strong>Dessmo</strong> © 2021 Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
    

            <!-- Sidebar end -->
            
            


            <!-- Content body start -->
            <div class="content-body" >
                <router-outlet></router-outlet>
                
                <div class="chat-box" *ngIf="this.isVisibleEncuesta" >
                    <div class="open">Encuesta de Satisfacción
                      <div class="box">
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <p style="font-weight: bolder; color: black;">¿Como Calificaría la Satisfacción del uso del Sistema?</p>
                                <div class="">
                                    <form [formGroup]="adminForm" (ngSubmit)="EnviarEncuesta()">
                                        <div class="form-group mb-0">
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" value="Muy Deficiente" (change)="capturarValor($event)"><a style="font-weight: bolder; color: #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Muy Deficiente</a> </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" value="Deficiente" (change)="capturarValor($event)"><a style="font-weight: bolder; color: #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deficiente</a> </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" value="Aceptable" (change)="capturarValor($event)"><a style="font-weight: bolder; color: #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aceptable</a> </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" value="Buena" (change)="capturarValor($event)"><a style="font-weight: bolder; color: #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buena</a> </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" value="Muy Buena" (change)="capturarValor($event)"><a style="font-weight: bolder; color: #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Muy Buena</a> </label>
                                            </div>
                                        </div>
                                        <button *ngIf="this.isVisible" type="submit" class="btn btn-rounded btn-primary" style="margin-top: 10%; margin-left: 20%;" disabled><span
                                            class="btn-icon-left text-primary"><i class="fa fa-send"></i>
                                        </span>Enviar</button>
                                        <button *ngIf="this.isVisible2" type="submit" class="btn btn-rounded btn-primary" style="margin-top: 10%; margin-left: 20%;"><span
                                            class="btn-icon-left text-primary"><i class="fa fa-send"></i>
                                        </span>Enviar</button>
                                    </form>
                                    
                                </div>
                            </div>
            
                        </div>
                        <br>
                      </div>
                    </div>
                </div>
                
            </div>

            <!-- Content body end -->

            <!-- Footer start -->
            <div class="footer">
                <div class="copyright">
                    <p>Copyright © Codeado &amp; Desarrollado por <a>Dessmo</a> 2021</p>
                </div>
            </div>
            <!-- Footer end -->

        </div>
        <!-- Main wrapper end -->
        
    </body>

</html>

