<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Cargar Data</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Data</a></li>
        </ol>
    </div>

    <div class="col-xl-4 col-lg-6">
        <div class="card">
            <div class="card-header pb-0 border-0">
                <span class="p-3 mr-3 rounded bg-secondary" style="width: 60px;">
                    <i style="margin-left: 11%; font-size: 25px; color: white;" class="fa fa-upload color-info"></i>
                </span>
                <div class="mr-auto pr-3">
                    <h4 class="text-black fs-20">Carga de Datos</h4>
                    <p class="fs-13 mb-0 text-black">Sube aquí la data para que sea cargada en el Sistema.</p>
                </div>
            </div>
            <div class="card-body pb-3">
                <div class="pr-3 mb-2 mr-auto" style="margin-left: 25%;">                                
                    <button type="button" class="btn light btn-primary" style="overflow: hidden; position: relative;">
                        <input class="fileInput" (change)="CargarData($event)" type="file" name="file1" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        style="cursor: pointer; height: 100%; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                        <span class="btn-icon-left text-primary">
                            <i class="fa fa-upload color-info"></i>
                        </span>Subir Archivo
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>