<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Roles</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Otorgar Rol</a></li>
        </ol>
    </div>


    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Otorgar Rol a Usuario</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha de Solicitud</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>                        
                            <tr *ngFor="let list of CurrentLista">
                                <th>{{list.nombreUsuario}}</th>
                                <!--<td><span class="badge badge-danger light">Extended</span>
                                </td>-->
                                <td>{{list.fecharegistroUsuario}}</td>
                                
                                <td>
                                    <div class="d-flex">
                                        <a class="btn btn-primary shadow btn-xs sharp mr-1" [class.active]="list == ListSolicitud" (click)="SeleccionarSolicitud(list)" (click)="this.AprobarSolicitud()"><i class="fa fa-check"></i></a>
                                        <a  class="btn btn-danger shadow btn-xs sharp" [class.active]="list == ListSolicitud" (click)="SeleccionarSolicitud(list)" (click)="this.DenegarSolicitud()"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>                        
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>

</div>