<!doctype html>
<html lang="es">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dessmo- Deserción Universitaria</title>
    </head>

    <body id="top-header">
        <!-- NAVBAR
        ================================================= -->
        <div class="main-navigation fixed-top" id="mainmenu-area" style="background-color: #f8faff;">
            <div class="container">
                <nav class="navbar navbar-expand-lg ">
                    <a class="navbar-brand font-weight-bold" href="index.html">
                    <img src="../../../assets/images/Logo 2.png" width="5%" class="img-fluid">
                    <img src="../../../assets/images/DessmoTexto.png" width="10%" class="img-fluid">
                    </a>
                    <!-- Toggler -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu-alt"></span>
                    </button>

                    <!-- Collapse -->
                    <div class="collapse navbar-collapse " id="navbarmain">
                        <!-- Links -->
                        <ul class="navbar-nav ml-auto mb-0 text-center text-lg-left">
                            <li class="nav-item active">
                                <a href="index.html" class="nav-link js-scroll-trigger">
                                    Inicio
                                </a>
                            </li>
                        </ul>
                    </div> <!-- / .navbar-collapse -->
                </nav>
            </div> <!-- / .container -->
        </div>


        <section class="banner py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-7 text-center text-lg-left">
                        <div class="main-banner">
                            <span class="section-subtitle">Bienvenido a Dessmo</span>
                            <h1 class="display-4 mb-3">
                                Datos sobre la <br>Deserción Universitaria
                            </h1>

                            <p class="lead">
                                Dessmo te ayudará con la gestión de los datos , agrupandolos en nuestra plataforma para verificar los índices de Deserción Universitaria.
                            </p>

                            <!-- Button -->
                            <a href="#"class="btn" style="width: 60%; font-size: 18px; margin: 14px; border-radius: 30px; font-weight: bolder; 
                                                         color:white; background: rgb(121, 110, 255); padding: 14px;" >
                                Ir a Dessmo como Usuario <i class="ti-angle-double-right ml-2"></i>
                            </a>
                            <br>
                            <a href="#"class="btn" style="margin-top: 5%; width: 64%; font-size: 18px; margin: 14px; border-radius: 30px; font-weight: bolder; background: rgb(121, 110, 255);color:white; padding: 14px;">
                                Ir a Dessmo como Administrador <i class="ti-angle-double-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-5 col-md-6">
                        <div class="banner-img">
                            <img src="images/banner/img-40.png" alt="" class="img-fluid">
                        </div>
                    </div> -->
                    <div class="col-lg-5 col-md-6">
                        <div class="banner-img">
                            <img src="../../../assets/images/Imagen.png" style="margin-top: 20%;" alt="" class="img-fluid">
                        </div>
                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </section>

        <footer class="footer ">
            <div class="container">
                <div class="row footer-btm mt-5 pt-4 border-top">
                    <div class="col-lg-6  col-sm-6">
                        <p class="footer-copy">
                            &copy; Copyright <a class="current-year" href="#" target="_blank">Dessmo</a> Todos los derechos reservados.
                        </p>
                    </div>
                </div> <!-- / .row -->
            </div>
        </footer>



            <!--  Page Scroll to Top  -->

            <a class="scroll-to-top js-scroll-trigger" href="#top-header">
                <i class="ti-angle-up"></i>
            </a>




    </body>
</html>
   