<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Gráficos</a></li>
        </ol>
    </div>
    
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills mb-4">
                    <li class=" nav-item">
                        <a href="#navpillsCA1" class="nav-link active" data-toggle="tab" aria-expanded="false">Edad</a>
                    </li>
                    <li class="nav-item">
                        <a href="#navpillsCA2" class="nav-link" data-toggle="tab" aria-expanded="false">Psicológico</a>
                    </li>
                    <li class="nav-item">
                        <a href="#navpillsCA3" class="nav-link" data-toggle="tab" aria-expanded="false">Horas de Estudio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#navpillsCA4" class="nav-link" data-toggle="tab" aria-expanded="false">Disponibilidad del Dispositivo</a>
                    </li>
                    <li class="nav-item">
                        <a href="#navpillsCA5" class="nav-link" data-toggle="tab" aria-expanded="false">Cursos Desaprobados</a>
                    </li>
                    <li class="nav-item">
                        <a href="#navpillsCA6" class="nav-link" data-toggle="tab" aria-expanded="false">Gasto Diario</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a href="#navpillsCA7" class="nav-link" data-toggle="tab" aria-expanded="false">Motivo Psicológico</a>
                    </li>
                    <p style="margin-left:8px"></p>             
                </ul>
                <!-- -->
                <div class="tab-content">
                    <div id="navpillsCA1" class="tab-pane active">
                        <div class="table-responsive">
                            <div id="content">
                                <div style="height:612px;width:1024px ;" class="centrado">
                                    <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiNWQ3OGY3YjMtMGRmMy00NmI2LThmNWQtZGIzNmVhNzQ0YTYwIiwidCI6IjBlMGNiMDYwLTA5YWQtNDlmNS1hMDA1LTY4YjliNDlhYTFmNiIsImMiOjR9&pageName=ReportSection" frameborder="0" style="position:absolute; clip:rect(0px,1024px,570px,0px); bottom:-0px;" allowFullScreen="true"></iframe>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div id="navpillsCA2" class="tab-pane">
                        <div class="table-responsive">
                            <div id="content">
                                <div style="height:612px;width:1024px" class="centrado">
                                   <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiZDZiOTEwYjctOTVkZS00MDQ4LWI5ZDctZWRhYWNiMWM1NjMwIiwidCI6IjBlMGNiMDYwLTA5YWQtNDlmNS1hMDA1LTY4YjliNDlhYTFmNiIsImMiOjR9&pageName=ReportSection" frameborder="0" style="position:absolute; clip:rect(0px,1024px,570px,0px); bottom:-0px;" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="navpillsCA3" class="tab-pane">
                        <div class="table-responsive">
                            <div id="content">
                                <div style="height:612px;width:1024px" class="centrado">
                                   <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiZTBjZjVjZTYtYjZlMC00YzhhLTgyY2EtMmViMzA2MDUxYjIwIiwidCI6IjBlMGNiMDYwLTA5YWQtNDlmNS1hMDA1LTY4YjliNDlhYTFmNiIsImMiOjR9&pageName=ReportSection" frameborder="0" style="position:absolute; clip:rect(0px,1024px,570px,0px); bottom:-0px;" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="navpillsCA4" class="tab-pane">
                        <div class="table-responsive">
                            <div id="content">
                                <div style="height:612px;width:1024px" class="centrado">
                                   <iframe width="1024" height="612" src="" frameborder="0" style="position:absolute; clip:rect(0px,1024px,570px,0px); bottom:-0px;" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div id="navpillsCA4" class="tab-pane">
                        <div class="table-responsive">
                            <div id="content">
                                <div style="height:612px;width:1024px" class="centrado">
                                   <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiOWM1Yzk0ODEtZWEyZi00YzZmLTk4ZWMtMzQ3NzViNDg2ZDM0IiwidCI6IjBlMGNiMDYwLTA5YWQtNDlmNS1hMDA1LTY4YjliNDlhYTFmNiIsImMiOjR9&pageName=ReportSection" frameborder="0" style="position:absolute; clip:rect(0px,1024px,570px,0px); bottom:-0px;" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="navpillsCA5" class="tab-pane">
                        <div class="table-responsive">
                            <div id="content">
                                <div style="height:612px;width:1024px" class="centrado">
                                   <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiYTk2YmY0MDUtNDcyOC00OTY0LWJiOGQtZWRmMzYxYzY2MDI3IiwidCI6IjBlMGNiMDYwLTA5YWQtNDlmNS1hMDA1LTY4YjliNDlhYTFmNiIsImMiOjR9&pageName=ReportSection" frameborder="0" style="position:absolute; clip:rect(0px,1024px,570px,0px); bottom:-0px;" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="navpillsCA6" class="tab-pane">
                        <div class="table-responsive">
                            <div id="content">
                                <div style="height:612px;width:1024px" class="centrado">
                                   <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiYThmNTdmNDItN2JiZC00MThiLWI1ZTMtOGM2MTUwNThkMzk2IiwidCI6IjBlMGNiMDYwLTA5YWQtNDlmNS1hMDA1LTY4YjliNDlhYTFmNiIsImMiOjR9&pageName=ReportSection" frameborder="0" style="position:absolute; clip:rect(0px,1024px,570px,0px); bottom:-0px;" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="navpillsCA7" class="tab-pane">
                        <div class="table-responsive">
                            <div id="content">
                                <div style="height:612px;width:1024px" class="centrado">
                                   <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiMjFlZGM4NTMtYmZlMi00ZmJmLWIxZTQtMjI1MTkzMTEzMjI5IiwidCI6IjBlMGNiMDYwLTA5YWQtNDlmNS1hMDA1LTY4YjliNDlhYTFmNiIsImMiOjR9&pageName=ReportSection" frameborder="0" style="position:absolute; clip:rect(0px,1024px,570px,0px); bottom:-0px;" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>