/* You can add global styles to this file, and also import other style files */
iframe{
    zoom: 0.89;
    -moz-transform: scale(0.89);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.89);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.89);
    -webkit-transform-origin: 0 0;
}

.centrado{
    display: inline-block!important;
    margin-top: -5%!important;
    margin-left: 17%!important;
}

div.chat {
    position: fixed;
    width: 300px;
    height: 75%;
    background: #1b2a97;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0;
}
div.chat > .header {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    background: red;
    border-left: 20%!important;
}
div.chat > .footer {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    background: grey;
}
div.chat > .conversation-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1b2a97;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    
}
div.chat > .conversation-wrapper > .conversation-body {
    position: relative;
    background: lightgrey;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: scroll;
}
div.chat > .conversation-wrapper > .conversation-body > .msg {
    position: relative;
    width: 75%;
    background: blue;
    color: white;
    padding: 5px;
    margin: 0 0 20px 0;
}

/* */
/*
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Fira Code';
  }
  body{
    height: 100%;
    background: #95a5a6;
  }
  .chat-box{
    position: absolute;
    right: 20px;
    bottom: 0px;
    background: white;
    width: 300px;
    border-radius: 5px 5px 0px 0px;
  }
  .chat-head{
    width: inherit;
    height: 45px;
    background: #2c3e50;
    border-radius: 5px 5px 0px 0px;
  }
  .chat-head h2{
    color: white;
    padding: 8px;
    display: inline-block;
  }
  .chat-head img{
    cursor: pointer;
    float: right;
    width: 25px;
    margin: 10px;
  }
  .chat-body{
    height: 355px;
    width: inherit;
    overflow: auto;
    margin-bottom: 45px;
  }
  .chat-text{
    position: fixed;
    bottom: 0px;
    height: 45px;
    width: inherit;
  }
  .chat-text textarea{
    width: inherit;
    height: inherit; 
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    padding: 10px;
    resize: none;
  }
  .chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
    border-color: royalblue;
  }
  .msg-send{
    background: #2ecc71;
  }
  .msg-receive{
    background: #3498db;
  }
  .msg-send, .msg-receive{
    width: 200px;
    height: 35px;
    padding: 5px 5px 5px 10px;
    margin: 10px auto;
    border-radius: 3px;
    line-height: 30px;
    position: relative;
    color: white;
  }
  .msg-receive:before{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 15px solid;
    border-color: transparent #3498db transparent transparent;
    left: -29px;
    top: 7px;
  }
  .msg-send:after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent transparent #2ecc71;
    right: -29px;
    top: 7px;
  }
  .msg-receive:hover, .msg-send:hover{
    opacity: .9;
  }

*/

.chat-box {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .box {
    transition: height 0.6s ease-out;
    width: 300px;
    height: 0px;
    background: #0B2A97;
    z-index: 9999;
  }
  .open:hover > .box {
    height: 500px;
    transition: height 0.6s ease-out;
  }
  .open {
    text-align: center;
    font-size: 20px;
    border: 2px solid #3f51b5;
    background: #0B2A97;
    color: #eaeaea;
    font-weight: bolder;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
  }

#inputcito{
  width: 200%!important;
}