<div class="col-xl-12 col-lg-12">
    <div class="mt-5">
        <div class="authincation h-100" >
            <div class="container h-100" >
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-md-6 mt-5">
                        <div class="authincation-content" style="border-radius: 25px;">
                            <div class="row no-gutters">
                                <div class="col-xl-12" >
                                    <div class="auth-form">
                                        <div class="text-center mb-3">
                                            <a href="/"><img src="../../../assets/images/Dessmo-Monocromatico.png" width="40%" alt=""></a>
                                        </div>
                                        <h4 class="text-center mb-4 text-white">Recupera tu Contraseña</h4>
                                        <form class="" [formGroup]="updateCorreoForm" (ngSubmit)="SolicitarContra()">
                                            <div class="form-group ">
                                                <label class="text-white"><strong>Correo Electrónico</strong></label>
                                                <input (input)="AlertDefault()" type="email" placeholder="Ingresa tu Correo Electrónico" class="form-control" name="emailUsuario" formControlName="emailUsuario"
                                                [ngClass]="{
                                                    'is-invalid': updateCorreoForm.controls['emailUsuario'].invalid && 
                                                                (updateCorreoForm.controls['emailUsuario'].dirty || 
                                                                updateCorreoForm.controls['emailUsuario'].touched) , 
                                                    'is-valid': updateCorreoForm.controls['emailUsuario'].valid}">
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="updateCorreoForm.controls['emailUsuario'].hasError('required')">
                                                            No puede dejar este campo vacío
                                                        </span>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="updateCorreoForm.controls['emailUsuario'].hasError('email')">
                                                            Correo electrónico no válido
                                                        </span>
                                                    </div>
                                            </div>
                                            <div class="text-center mt-4" *ngIf="this.verificar">
                                                <div class="alert alert-danger text-center" role="alert">
                                                    {{ this.message }}
                                                </div>
                                            </div>
                    
                                            <div class="text-center mt-4" *ngIf="this.verificar2">
                                                <div class="alert alert-success text-center" role="alert">
                                                    {{ this.message }}
                                                </div>
                                            </div>
                    
                                            <button (click)="AlertDefault()" [disabled]="!updateCorreoForm.valid" type="submit" style="margin-left:22%; margin-top: 5%;" class="btn btn-secondary">Enviar Solicitud <span
                                                class="btn-icon-right"><i class="fa fa-envelope"></i></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 

    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Inline Form</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form class="" [formGroup]="updateCorreoForm" (ngSubmit)="SolicitarContra()">
                        
                        <div class="form-group mx-sm-3 mb-2">
                            <label class="sr-only">Correo</label>
                            <input (input)="AlertDefault()" type="email" class="form-control" name="emailUsuario" formControlName="emailUsuario"
                            [ngClass]="{
                                'is-invalid': updateCorreoForm.controls['emailUsuario'].invalid && 
                                            (updateCorreoForm.controls['emailUsuario'].dirty || 
                                            updateCorreoForm.controls['emailUsuario'].touched) , 
                                'is-valid': updateCorreoForm.controls['emailUsuario'].valid}">
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="updateCorreoForm.controls['emailUsuario'].hasError('required')">
                                        No puede dejar este campo vacío
                                    </span>
                                </div>
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="updateCorreoForm.controls['emailUsuario'].hasError('email')">
                                        Correo electrónico no válido
                                    </span>
                                </div>
                        </div>
                        <div class="text-center mt-4" *ngIf="this.verificar">
                            <div class="alert alert-danger text-center" role="alert">
                                {{ this.message }}
                            </div>
                        </div>

                        <div class="text-center mt-4" *ngIf="this.verificar2">
                            <div class="alert alert-success text-center" role="alert">
                                {{ this.message }}
                            </div>
                        </div>

                        <button (click)="AlertDefault()" type="submit" class="btn btn-primary">Enviar Solicitud <span
                            class="btn-icon-right"><i class="fa fa-envelope"></i></span>
                        </button>                      
                    </form>
                </div>
            </div>
        </div>
        

 -->
