

    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Inline Form</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form class="" [formGroup]="updateCorreoForm" (ngSubmit)="SolicitarContra()">
                        
                        <div class="form-group mx-sm-3 mb-2">
                            <label class="sr-only">Correo</label>
                            <input (input)="AlertDefault()" type="email" class="form-control" name="emailUsuario" formControlName="emailUsuario"
                            [ngClass]="{
                                'is-invalid': updateCorreoForm.controls['emailUsuario'].invalid && 
                                            (updateCorreoForm.controls['emailUsuario'].dirty || 
                                            updateCorreoForm.controls['emailUsuario'].touched) , 
                                'is-valid': updateCorreoForm.controls['emailUsuario'].valid}">
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="updateCorreoForm.controls['emailUsuario'].hasError('required')">
                                        No puede dejar este campo vacío
                                    </span>
                                </div>
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="updateCorreoForm.controls['emailUsuario'].hasError('email')">
                                        Correo electrónico no válido
                                    </span>
                                </div>
                        </div>
                        <div class="text-center mt-4" *ngIf="this.verificar">
                            <div class="alert alert-danger text-center" role="alert">
                                {{ this.message }}
                            </div>
                        </div>

                        <div class="text-center mt-4" *ngIf="this.verificar2">
                            <div class="alert alert-success text-center" role="alert">
                                {{ this.message }}
                            </div>
                        </div>

                        <button (click)="AlertDefault()" type="submit" class="btn btn-primary">Enviar Solicitud <span
                            class="btn-icon-right"><i class="fa fa-envelope"></i></span>
                        </button>                      
                    </form>
                </div>
            </div>
        </div>
        


