<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Dessmo - Deserción Universitaria</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="../../../../assets/images/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="col-xl-12 col-lg-12">
            <div class="mt-5">
                <div class="authincation h-100">
                    <div class="container h-100">
                        <div class="row justify-content-center h-100 align-items-center">
                            <div class="col-md-6 mt-5">
                                <div class="authincation-content mt-5">
                                    <div class="row no-gutters">
                                        <div class="auth-form">
                                            <div class="text-center mb-3">
                                                <a href="index.html"><img src="../../../../assets/images/Dessmo-Monocromatico.png" style="width: 38%;" alt=""></a>
                                            </div>
                                            <h4 class="text-center mb-4 text-white">Ingresa tus credenciales para iniciar sesión como Superadmin</h4>
                                            <form action="index.html">
                                                <div class="form-group">
                                                    <label class="mb-1 text-white"><strong>Email</strong></label>
                                                    <input type="email" class="form-control" value="Ingresa tu correo electrónico">
                                                </div>
                                                <div class="form-group">
                                                    <label class="mb-1 text-white"><strong>Contraseña</strong></label>
                                                    <input type="password" class="form-control" value="Ingresa tu contraseña">
                                                </div>
                                                <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                                    <div class="form-group">
                                                    <div class="custom-control custom-checkbox ml-1 text-white">
                                                            <input type="checkbox" class="custom-control-input" id="basic_checkbox_1">
                                                            <label class="custom-control-label" for="basic_checkbox_1">Recordar datos</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <a class="text-white" href="page-forgot-password.html">¿Contraseña Olvidada?</a>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" class="btn bg-white text-primary btn-block">Iniciar Sesión</button>
                                                </div>
                                            </form>
                                            <div class="new-account mt-3">
                                                <p class="text-white">¿No tienes una cuenta? <a class="text-white" href="./page-register.html">Regístrate</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
        
        


        
    </body>

</html>