<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dessmo - Deserción Universitaria</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="col-xl-12 col-lg-12">
        <div class="mt-5">
            <div class="authincation h-100">
                <div class="container h-100">
                    <div class="row justify-content-center h-100 align-items-center">
                        <div class="col-md-6">
                            
                            <div class="authincation-content">
                                <div class="row no-gutters">
                                    <div class="col-xl-12">
                                        <div class="auth-form">
                                            <div class="text-center mb-3">
                                                <a href="index.html"><img src="../../../../assets/images/Dessmo-Monocromatico.png" width="40%" alt=""></a>
                                            </div>
                                            <h4 class="text-center mb-4 text-white">Completa tu registro como Administrador</h4>

                                            <form [formGroup]="adminSignupForm" (ngSubmit)="SignupUsuario()">
                                                <div class="form-group">
                                                    <label class="mb-1 text-white"><strong>Nombres</strong></label>
                                                    <input (input)="AlertDefault()" type="text" class="form-control" placeholder="Nombres"
                                                    name="nombreUsuario" formControlName="nombreUsuario"
                                                    [ngClass]="{
                                                        'is-invalid': adminSignupForm.controls['nombreUsuario'].invalid && 
                                                                     (adminSignupForm.controls['nombreUsuario'].dirty || 
                                                                     adminSignupForm.controls['nombreUsuario'].touched) , 
                                                          'is-valid': adminSignupForm.controls['nombreUsuario'].valid}">
                                                          
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="adminSignupForm.controls['nombreUsuario'].hasError('required')">
                                                                No puede dejar este campo vacío
                                                            </span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="adminSignupForm.controls['nombreUsuario'].hasError('minlength')">
                                                                Debe contener al menos 2 caracteres
                                                            </span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="adminSignupForm.controls['nombreUsuario'].hasError('maxlength')">
                                                                Debe contener como maximo 50 caracteres
                                                            </span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="adminSignupForm.controls['nombreUsuario'].hasError('pattern')">
                                                                Caracteres no permitidos
                                                            </span>
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="mb-1 text-white"><strong>Apellidos</strong></label>
                                                    <input (input)="AlertDefault()" type="text" class="form-control" placeholder="Apellidos"
                                                    name="apellidoUsuario" formControlName="apellidoUsuario"
                                                    [ngClass]="{
                                                        'is-invalid': adminSignupForm.controls['apellidoUsuario'].invalid && 
                                                                     (adminSignupForm.controls['apellidoUsuario'].dirty || 
                                                                     adminSignupForm.controls['apellidoUsuario'].touched) , 
                                                          'is-valid': adminSignupForm.controls['apellidoUsuario'].valid}">
                                                          
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="adminSignupForm.controls['apellidoUsuario'].hasError('required')">
                                                                No puede dejar este campo vacío
                                                            </span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="adminSignupForm.controls['apellidoUsuario'].hasError('minlength')">
                                                                Debe contener al menos 2 caracteres
                                                            </span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="adminSignupForm.controls['apellidoUsuario'].hasError('maxlength')">
                                                                Debe contener como maximo 50 caracteres
                                                            </span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="adminSignupForm.controls['apellidoUsuario'].hasError('pattern')">
                                                                Caracteres no permitidos
                                                            </span>
                                                        </div>
                                                </div>
                                                <!-- <div class="form-group">
                                                    <label class="mb-1 text-white"><strong>Email</strong></label>
                                                    <input type="email" class="form-control" placeholder="hello@example.com">
                                                </div> -->
                                                <div class="form-group">
                                                    <label class="mb-1 text-white"><strong>Contraseña</strong></label>
                                                    <input (input)="AlertDefault()" type="password" class="form-control" 
                                                    name="passwordUsuario" formControlName="passwordUsuario"
                                                    [ngClass]="{
                                                        'is-invalid': adminSignupForm.controls['passwordUsuario'].invalid && 
                                                                      (adminSignupForm.controls['passwordUsuario'].dirty || 
                                                                      adminSignupForm.controls['passwordUsuario'].touched) , 
                                                          'is-valid': adminSignupForm.controls['passwordUsuario'].valid}">
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="adminSignupForm.controls['passwordUsuario'].hasError('required')">
                                                            No puede dejar este campo vacío
                                                        </span>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="adminSignupForm.controls['passwordUsuario'].hasError('minlength')">
                                                            Debe contener al menos 8 caracteres
                                                        </span>
                                                    </div> 
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="adminSignupForm.controls['passwordUsuario'].hasError('passwordnumber')">
                                                            Debe contener al menos un número
                                                        </span>
                                                    </div> 
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="adminSignupForm.controls['passwordUsuario'].hasError('passworduppercase')">
                                                            Debe contener al menos una letra mayúscula
                                                        </span>
                                                    </div> 
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="adminSignupForm.controls['passwordUsuario'].hasError('passwordsmallcase')">
                                                            Debe contener al menos una letra minúscula
                                                        </span>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="adminSignupForm.controls['passwordUsuario'].hasError('passwordspecialcharacter')">
                                                            Debe contener al menos un carácter especial
                                                        </span>
                                                    </div> 
                                                </div>
                                                <div class="text-center mt-4">
                                                    <button type="submit" (click)="AlertDefault()" [disabled]="!adminSignupForm.valid" class="btn bg-white text-primary btn-block">Registrarme</button>
                                                </div>

                                                <div class="text-center mt-4" *ngIf="this.verificar">
                                                    <div class="alert alert-danger text-center" role="alert">
                                                        {{ this.message }}
                                                    </div>
                                                </div>

                                                <div class="text-center mt-4" *ngIf="this.verificar2">
                                                    <div class="alert alert-success text-center" role="alert">
                                                        {{ this.message }}
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="new-account mt-3">
                                                <p class="text-white">¿Ya tienes una cuenta? <a class="text-white" style="font-weight: bolder;" href="page-login.html">Iniciar Sesión</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->


</body>
</html>
